body{
    align-items: center;    
    display:flex;
    justify-content: center;
    
}
.container{
    background-color:#22389C;
    height: 812px;
    overflow: hidden;
    width: 375px;
}

.top-indicators{
    align-items: center;
    display: flex;
    float:right;
    height: 44px;
    margin-right: 19px;
}
/* wi-fi symbol */
.wifi-container{  
  align-items:center;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  display:flex;
  height:85px;
  justify-content:center;  
  margin-right: -60px;
  transform:scale(0.15); 
  width:150px;
}
.wifi{
  background-color:white;
  border-radius:50%;
  box-shadow: 0px 0px 0px 10px #22389C,0px 0px 0px 30px white,0px 0px 0px 40px #22389C,0px 0px 0px 60px white; 
  height:40px;
  position:relative;
  top:50%;   
  width:40px;
}
/* connectivity intensity symbol */
.connectivity-container{
  display:flex;
  gap: 2px;
  justify-content:center;
  margin-right: -60px;
  transform: rotate(180deg) scale(0.8);
  width:19px;
}
.b1,.b2,.b3,.b4{
  background-color:white;
  border-radius:2px;
  width:3px;
}
.b4{
  height:5px;
}
.b3{
  height:9px;
}
.b2{
  height:13px;
}
.b1{
  height:17px;
}
/* battery symbol */
.battery-container{
  align-items:center;  
  display:flex;
  justify-content:center;
  width:19px; 
}
.battery{
  background-color:white;
  border-radius:1px;
  border-radius:1px;
  box-shadow: 0px 0px 0px 0.3px #22389C,0px 0px 0px .8px #6D7AB8;
  height:7px;
  width:18px; 
}
.battery-tail{
  background-color:#6D7AB8;
  border-radius: 0 150px 150px 0;
  height:4px;
  margin-left:2px;
  width:2px;  
  }
/* clock */
.clock-container{
  position:relative;
  z-index:1;
}
.clock{
  color:white; 
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;  
  font-size:14px;
  font-weight:600;
  letter-spacing: -0.28px;
  line-height:17px; 
  margin-top: 25px;
  margin-left: 21px; 
  z-index: 1;
}

/* canvas greater than symbol */
#canvas {
  margin-left: 5px;
  margin-top: 5px;
  transform: scale(0.4);
}

/* sign-in-container */
.sign-in-container{
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px;
  width: 90%;
}
.sign-in-container button{
  align-items: center;
  background-color: transparent;
  border:none;
  cursor: pointer;
  display:flex;
}
.sign-in-container button:hover{
  padding-right:2px;
}
.sign-in-container button p:hover{
  color:#EF24A8;  
}
.sign-in-container p{
  color: #FFFFFF;    
  font-family: 'Barlow Semi Condensed';
  font-weight: 600;
  font-size: 18px;
  line-height: 14px;
  letter-spacing: 0px;
}

/* welcome-container */
.welcome-container{
    color:white;
    display: flex;
    flex-direction: column;
    margin:0 45px;
}
.welcome-container h1{
    font-family: Playfair Display;
    font-size: 60px;
    font-weight: 900;
    line-height: 80px;
    margin:0px;
}
.welcome-container p{
  font-family:'Barlow Semi Condensed';
  font-size:18px;
  height: 52px;
  letter-spacing: 0px;
  line-height: 26px;
  opacity: 0.55;
  width: 285px;
}
/* button container */
.button-container{
    display:grid;
    flex-direction: column;    
    justify-content: center;    
    gap:15px;    
    margin:240px 45px 0 45px;
}
.join-community-button,
.sign-up-facebook-button,
.input-container input[type='submit']{
  border-radius: 7px;         
  cursor:pointer;
  font-family:'Barlow Semi Condensed';
  font-size:17px;
  font-weight: 600;
  height:55px;
  line-height: 17px;
  position: relative;
  width:285px;
  z-index: 1;
}
.join-community-button{
  cursor:not-allowed;
}
.join-community-button,
.input-container input[type='submit']{
  background: #121C5F73 0% 0% no-repeat padding-box;
  border: 2px solid #FFFFFF;    
  color:white;
  letter-spacing: 0px;
}
.sign-up-facebook-button{
  align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #1B245C;
    color:#1B245C;
    display: flex;
    justify-content: center;
    letter-spacing: 0px;
}
.sign-up-facebook-button img{
  height: 20px;
  margin-right: 12px;
  width:20px;
}
.balls-initial-view{
  visibility: visible;
}
.balls-sign-view{
  visibility:hidden;
}
/* Balls */
.ball-1,
.ball-2,
.ball-3,
.ball-4,
.ball-5,
.ball-6,
.ball-7,
.ball-8,
.ball-9,
.ball-10,
.ball-11{
  border-radius: 50%;
  position: relative;
}
.ball-1{
  background-color: transparent;
  bottom: 664px;
  box-shadow: 0px 0px 0px 30px #00A8A6;  
  height: 90px;
  right: 31px;
  width: 90px;
}
.ball-2{
  background-color: #FFEEB0;
  bottom: 704px;
  height: 100px;
  left:310px;
  width:100px;

}
.ball-3{
  background-color: #EF24A8;
  bottom: 510px;
  height: 145px;
  right: 55px;
  width: 145px;
}
.ball-4{
  background-color: #EEA900;
  bottom: 405px;
  height: 165px;
  right: 55px;
  width: 165px;
}
.ball-5{
  background-color: transparent;
  box-shadow: 0px 0px 0px 30px #EEA900;
  bottom: 692px;
  height: 81px;
  left: 305px;
  width: 80px;
}
.ball-6{
  background-color: transparent;
  bottom: 952px;
  box-shadow: 0px 0px 0px 2px #EF24A8;
  height: 10px;
  left: 320px;
  width: 10px;
}
.ball-7{
  background-color: #00A8A6;
  bottom: 840px;
  height: 34px;
  left: 270px;
  width: 34px;
}
.ball-8{
  background-color: #FFEEB0;
  bottom: 800px;
  height: 34px;
  left: 158px;
  width: 34px;
}
.ball-9{
  background-color: transparent;
  box-shadow: 0px 0px 0px 5px #00A8A6;
  bottom: 836px;
  height: 22px;
  left: 80px;
  width: 22px;
}
.ball-10{
  background-color: transparent;
  box-shadow: 0px 0px 0px 6px #EEA900;
  bottom: 1010px;
  height: 30px;
  left: 120px;
  width: 30px;
}
.ball-11{
  background-color: transparent;
  box-shadow: 0px 0px 0px 5px #00A8A6;
  bottom: 725px;
  height: 22px;
  left: 316px;
  width: 22px;
}
/* balls-sign-view */
.ball-12,
.ball-13,
.ball-14,
.ball-15,
.ball-16,
.ball-17,
.ball-18,
.ball-19,
.ball-20,
.ball-21{
  border-radius: 50%;
  filter: blur(4px);
  position:relative;  
}
.ball-12{
  background: #EF24A8;
  bottom:180px;
  height: 40px;
  right: 10px;
  width: 40px;
}
.ball-13{
  background: #FFEEB0;  
  bottom:10px;
  height: 18px;
  left:293px;
  width: 18px;
}
.ball-14{
  background-color: #EF24A8;
  bottom: 350px;
  height: 14px;
  left: 325px;
  width: 14px;
}
.ball-15{
  background-color: #FFEEB0;
  bottom: 520px;
  height: 14px;
  left: 320px;
  width: 14px;
}
.ball-16{
  background-color: #EEA900;
  bottom:643px;
  height: 17px;
  left: 279px;
  width: 17px;
}
.ball-17{
  background-color: #EEA900;
  bottom:535px;
  height: 15px;
  left: 13px;
  width: 15px;
}
.ball-18{
  background-color: transparent;
  bottom:660px;
  box-shadow: 0px 0px 0px 20px #00A8A6;
  height: 55px;
  left: 330px;
  width: 55px;
}
.ball-19{
  background-color: transparent;
  bottom: 585px;
  box-shadow: 0px 0px 0px 8px #00A8A6;
  height: 30px;
  left: 33px;
  width: 30px;
}
.ball-20{
  background-color: transparent;
  bottom: 168px;
  box-shadow: 0px 0px 0px 10px #00A8A6;
  height: 10px;
  left: 25px;
  width: 10px;
}
.ball-21{
  background-color: transparent;
  bottom: 168px;
  box-shadow: 0px 0px 0px 15px #EEA900;
  height: 40px;
  left: 329px;
  width: 40px;
  }
/* indicator */
.indicator{
  background-color: white;
  border-radius: 100px;
  bottom: 917px;
  height: 5px;
  margin: 0 auto;
  opacity: 0.14;
  position: relative;
  width: 134px;
}

/* input-container */
.input-container{
  bottom:235px;
  height: 203px;
  margin:0 auto;
  position: relative;
  width:285px;
  z-index:1;
}
.input-container input[type='submit']{
  background-color:#01A9A7 !important;
  top:19px;
}
.or-container{
  align-items: center;
  bottom: 389px;
  display: flex;
  justify-content: center;
  position: relative;
}
.or-line{
  /* display: none; */  
  background: #D4D8EB 0% 0% no-repeat padding-box;
  height:1px;
  width: 115px;
}
.input-container,
.or-container{
  display:none;
}
.or-container p{
  color:#1B245C;
  font-family: Playfair Display;
  font-size: 15px;
  font-weight: 900;
  line-height:15px;
  padding-left:16px;
  padding-right: 15px;
}
.join-community-container{
  color: #1B245C;
  font-size: 21px;
  font-family: Playfair Display;
  font-weight: 900;
  display:none;
  letter-spacing: 0px;
  line-height: 45px;
  margin: 0 45px;
  bottom: 270px;
  position: relative;
  text-align: left;
}
.join-community-container h1{
  margin:0;
}
.back-container{
  align-items: center;
  display:none;  
  justify-content: start;
}
.back-container button{ 
  align-items: center;
  background-color: transparent;
  border:none;
  bottom: 155px;
  cursor: pointer;
  display:flex; 
  left: 10px;
  position: relative;
}
.back-container button p:hover{
  color:#EF24A8;
}
.back-container button:hover{
  padding-left:2px;
}
.back-container p{
  color: black;    
  font-family: 'Barlow Semi Condensed';
  font-size: 18px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0px;
}
#canvas-back{
  transform:scale(0.4) rotate(180deg);
}
.reminder-sign-in{
  display:none;
  font-family:'Barlow Semi Condensed';
  z-index:1;
}
.reminder-sign-in span:hover{
  cursor:pointer;
 
  
}
/* input section */
#email,
#password,
#password-confirmation{
  background-color: #F6F6FB;
  border-left: none;
  border-right: none;
  border-top: none;
  font-size: 20px;
  font-family: inherit;
  height: 62px;
  left: 1px;
  outline-style: none;
  padding-left:20px; 
  position: relative;
  top: 4px;
  width: 259px;
}
#email{
  border-top-left-radius:7px;
  border-top-right-radius:7px;
  
}
::placeholder{
  color:#1B245C;
  font-family:'Barlow Semi Condensed';
  font-size:17px;
  font-weight: 600;
  line-height: 17px;
  opacity:1;
}
.please-check-message{
  padding-top:8px;
}
/* clases for changing placeholder color */

/* Safari & Chrome */
.email-red::-webkit-input-placeholder {
  color: red;
}

/* Firefox */
.email-red::-moz-placeholder {
  color: red;
}

.email-red:-moz-placeholder {
  color: red;
}

/* IE */
.email-red:-ms-input-placeholder {
  color: red;
}

/* Safari & Chrome */
.password-red::-webkit-input-placeholder {
  color: red;
}

/* Firefox */
.password-red::-moz-placeholder {
  color: red;
}

.password-red:-moz-placeholder {
  color: red;
}

/* IE */
.password-confirmation-red:-ms-input-placeholder {
  color: red;
}

/* Safari & Chrome */
.password-confirmation-red::-webkit-input-placeholder {
  color: red;
}

/* Firefox */
.password-confirmation-red::-moz-placeholder {
  color: red;
}

.password-confirmation-red:-moz-placeholder {
  color: red;
}

/* IE */
.password-confirmation-red:-ms-input-placeholder {
  color: red;
}
